
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
    #banner {
    width: 768px;
  }
  .pdf-container{
    width:100%;
  }
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
	background-color: #A7E2E8;
	color: white;
	font-family: sans-serif;
	font-size: 15px;
}
.pdf-container{
    width: 50%;
    min-width: 800px;
    margin:auto;
}

embed{
    width:100%;
}


#banner {
    display: flex;
    margin:auto;
}

#banner a{
    text-decoration:none;
    color: #56b3ea;
    font-size: 185.7%;
    font-weight: bold;
    line-height: .9;
}

#prev{
    display:block;
    width:100px;

}

#next{
    display:block;
    width:50px;
    text-align-last:right;
    text-align: justify;

}

#home{
    margin:auto;
}

.rendered_html h1:first-child {
    margin-top: 0.538em;
}

.rendered_html h1 {
    font-size: 185.7%;
    margin: 1.08em 0 0 0;
    font-weight: bold;
    line-height: 1.0;
    display: block;
}

div.text_cell_render {
    /* font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; */
    outline: none;
    resize: none;
    width: inherit;
    border-style: none;
    padding: 0.5em 0.5em 0.5em 0.4em;
    color: #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


@media (max-width: 540px){
div.text_cell > div.prompt {
    display: none;
}
  p {
    margin-right: 9px !important;
  }

}

@media (max-width: 768px) {

  p {
    margin-right: 9px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }

   #banner {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

   #banner {
    width: 1140px;
  }
}


div.input_prompt {
    color: #303F9F;
    border-top: 1px solid transparent;
}
.prompt {
    min-width: 14ex;
    padding: 0.4em;
    margin: 0px;
    font-family: monospace;
    text-align: right;
    line-height: 1.21429em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

div#notebook {
    overflow: visible;
    border-top: none;
}
div#notebook {
    font-size: 14px;
    line-height: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 100%;
}

div.text_cell {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    display: flex !important;
    flex-direction: row !important;
    align-items: stretch !important;
}
div.cell {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: 100%;
    padding: 5px;
    margin: 0px;
    outline: none;
    border-left-width: 1px;
    padding-left: 5px;
    background: linear-gradient(to right, transparent -40px, transparent 1px, transparent 1px, transparent 100%);
}
.border-box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    flex: 1;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.border-box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


#notebook-container {
    padding: 15px;
    background-color: #fff;
    min-height: 0;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
    box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
}

.rendered_html * + p {
    margin-top: 1em;
}
.rendered_html p {
    text-align: left;
}
p {
    margin-bottom: 0;
    max-width:750px;
}
p {
    margin:auto;
    font-family: georgia;
    font-size: 18px;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

div#notebook {
    font-size: 14px;
    line-height: 20px;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.rendered_html h2 {
    font-size: 157.1%;
    margin: 1.27em 0 0 0;
    font-weight: bold;
    line-height: 1.0;
}

h2, .h2 {
    font-size: 27px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: purple;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
}

body {
	overflow: visible;
    padding: 8px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: visible;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
}
body {
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




div {
    display: block;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
