@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	font-family:sans-serif;
}

.galleryContainer{
	display:flex;
	flex-direction:row;
}

.galleryMenu{
	min-width: 200px;
    border-right: solid black 1px;
}
:root{
	--c0: black;
	--c1: #d1d6c3;
	--c2: black;
	--c3: black;
	--c4: black;
	--c5: black;
	--c6: black;
	--c7: #bed01eeb;
	--c8: #f4425c;
	--c9: black;
	--c10: black;
	--c11: black;
	--c12: black;
	--c13: black;
	--c14: black;
	--c15: black;
	--c16: black;
	--c17: black;
	--c18: black;
	--c19: black;

	--sym0:'@@';
	--sym1:'########';
	--sym2:'%%%%%%%%';
	--sym3:'^^^^^^';
	--sym4:'&&&&&&&&';
	--sym5:')()()()(';
	--sym6:'++++++++';
	--sym7:'========';
	--sym8:'';
	--sym9:'';
	--sym10:'';
	--sym11:'';
	--sym12:'';
	--sym13:'';
	--sym14:'';
	--sym15:'';
	--sym16:'';
	--sym17:'';
	--sym18:'';
	--sym19:'';
	--space:'    ';
}

.year{
	margin-left:.2em;
	color:darkgray;
	font-size:1.3em;
}

.c0{
	color:var(--c0);
}
.c0::before{
	content:var(--sym0) var(--space);
}
.c0::after{
	content:var(--space) var(--sym0);
}
.c1{
	color:var(--c1);
}
.c1::before{
	content:var(--sym1) var(--space);
}
.c1::after{
	content:var(--space) var(--sym1);
}
.c2{
	color:var(--c2);
}
.c2::before{
	content:var(--sym2) var(--space);
}
.c2::after{
	content:var(--space) var(--sym2);
}
.c3{
	color:var(--c3);
}
/*.c3::before{
	content:var(--sym3) var(--space);
}
.c3::after{
	content:var(--space) var(--sym3);
}*/
.c4{
	color:var(--c4);
}
/*.c4::before{
	content:var(--sym4) var(--space);
}
.c4::after{
	content:var(--space) var(--sym4);
}*/
.c5{
	color:var(--c5);
}
/*.c5::before{
	content:var(--sym6) var(--space);
}
.c5::after{
	content:var(--space) var(--sym6);
}*/
.c6{
	color:var(--c6);
}
/*.c6::before{
	content:var(--sym7) var(--space);
}
.c6::after{
	content:var(--space) var(--sym7);	
}*/
.c7{
	color:var(--c7);
}
/*.c7::before{
	content:var(--sym8) var(--space);
}
.c7::after{
	content:var(--space) var(--sym8);
}*/

.c8{
	color:var(--c8);
}
.c9{
	color:var(--c9);
}

.c9::before{
	content:var(--sym9) var(--space);
}
.c9::after{
	content:var(--space) var(--sym9);
}


.c10{
	color:var(--c10);
}

.c10::before{
	content:var(--sym10) var(--space);
}
.c10::after{
	content:var(--space) var(--sym10);
}

.c11{
	color:var(--c11);
}

.c11::before{
	content:var(--sym11) var(--space);
}
.c11::after{
	content:var(--space) var(--sym11);
}

.c12{
	color:var(--c12);
}

.c12::before{
	content:var(--sym12) var(--space);
}
.c12::after{
	content:var(--space) var(--sym12);
}

.c13{
	color:var(--c13);
}

.c13::before{
	content:var(--sym13) var(--space);
}
.c13::after{
	content:var(--space) var(--sym13);
}

.c14{
	color:var(--c14);
}

/*.c14::before{
	content:var(--sym14) var(--space);
}
.c14::after{
	content:var(--space) var(--sym14);
}*/

.c15{
	color:var(--c15);
}

/*.c15::before{
	content:var(--sym15) var(--space);
}
.c15::after{
	content:var(--space) var(--sym15);
}*/

.c16{
	color:var(--c16);
}

/*.c16::before{
	content:var(--sym16) var(--space);
}
.c16::after{
	content:var(--space) var(--sym16);
}*/

.c17{
	color:var(--c17);
}

.c17::before{
	content:var(--sym17) var(--space);
}
.c17::after{
	content:var(--space) var(--sym17);
}

.c18{
	color:var(--c18);
}

.c18::before{
	content:var(--sym18) var(--space);
}
.c18::after{
	content:var(--space) var(--sym18);
}

.c19{
	color:var(--c19);
}

.c19::before{
	content:var(--sym19) var(--space);
}
.c19::after{
	content:var(--space) var(--sym19);
}





.sub-title{
	text-decoration: underline;
	font-weight:5;
	font-size:1.6em;
}

.sub-title:nth-child(2n+1){
	margin-top:25px;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
	justify-content: space-between;
    padding: 7% 20% 0px 20%;

}

.about {
width: 100%;
    align-content: center;
    text-align: center;
    bottom: 10px;
    margin-top:20%;
}

.face{
	position:absolute;
	left: -10px;
    z-index:-1;

}

.fig1{
	position: absolute;
    left: 0px;
    width: 20%;
    bottom: 200px;
    z-index:-1;
}
.fig7{
	position: absolute;
    right: 0px;
    width: 10%;
    bottom: 200px;
    z-index:-1;

}
.fig3{
    position: absolute;
    left: 300px;
    width: 20%;
    bottom: 0px;
    z-index:-1;

}

h1{
	font-size:3em;
}

.cc{
	font-size: 1.4em;
	text-align:center;
}

a{
	text-align: center;
	text-decoration: none;
}
.galleryMenu ul li a{
    text-decoration:none;
    color: #56b3ea;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 3em;
    display:block;

}

.fullscreen{
    z-index:1000;
    width:100%;
    max-width: 100%;
    height:100% !important;
    position:fixed;
    top:0px;
    left:0px;
    background-color: rgba(190,190,190, .9);
}

.currentGallery{
	font-weight: bolder !important;
    font-size: 1.9em !important;
    color: brown !important;
}

.galleryMenu ul li:hover{
	background-color:pink;
}


.imgContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*border-bottom: solid black 7px;*/
}

.galleryMenu ul{
	list-style-type: none;
	padding:0;
}

.imgWrapper img{
	max-width:380px;
	max-height:600px;
	display:inline-block;
	vertical-align: middle;
	position:relative;
}

.imgWrapper{
	text-align:center;
	display:inline-block;
	vertical-align: middle;
	border-bottom: solid black 7px;
	height: 600px;
	width:400px;
	white-space: nowrap;
	box-sizing:border-box;
	flex: 1;

}

.imgWrapper:hover{
	background-color:#de60b9;
}

.imgHelper{
display:inline-block;
vertical-align:middle;
height:100%;
}

.writingContainer{
	width: 60%;
	margin-left:20%;
}

.writingContainer h1{
	text-align: center;
}




.left{
	align-items: center;
	display: flex;
	flex-grow:1;
	flex-basis:20%;
	flex-direction: column;
}

.right{
	flex-basis:20%;
	align-items: center;
	display:flex;
	flex-grow:1;
	flex-direction: column;
}


/*Mid size
*/
@media screen and (max-width: 1050px) {
   .columnContainer{
    padding: 7% 0px 0px 0px;
}

ul {
    padding: 0;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.galleryMenu{
	border:none;
}




ul li{
	width: 12.5%;
    text-align: center;

}

.galleryContainer{
	flex-direction: column;
}

.left{

	flex-basis:100%;

}

.right{
	flex-basis:100%;

}
}
/*small size*/
@media screen and (max-width: 800px) {

}