@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	font-family:sans-serif;
}

.galleryContainer{
	display:flex;
	flex-direction:row;
}
.galleryMenu{
	min-width: 200px;
    border-right: solid black 1px;
}
:root{
	--sym8:'';
	--sym9:'';
	--sym10:'';
	--sym11:'';
	--sym12:'';
	--sym13:'';
	--sym14:'';
	--sym15:'';
	--sym16:'';
	--sym17:'';
	--sym18:'';
	--sym19:'';
	--space:'    ';
}

.mainMenu {
	display: flex;
	flex-direction: column;

}

.mainMenu a{
    text-align: left;
    text-decoration: none;
    color: black;
	cursor: pointer;
	line-height: 30px;
}

.doodle{
	width: 50%;
}

.year{
	margin-left:.2em;
	color:darkgray;
	font-size:1.3em;
}

.c0{
	color:var(--c0);
}
.c0::before{
	content:var(--sym0) var(--space);
}
.c0::after{
	content:var(--space) var(--sym0);
}
.c1{
	color:var(--c1);
}
.c1::before{
	content:var(--sym1) var(--space);
}
.c1::after{
	content:var(--space) var(--sym1);
}
.c2{
	color:var(--c2);
}
.c2::before{
	content:var(--sym2) var(--space);
}
.c2::after{
	content:var(--space) var(--sym2);
}
.c3{
	color:var(--c3);
}
.c4{
	color:var(--c4);
}
.c5{
	color:var(--c5);
}
.c6{
	color:var(--c6);
}
.c7{
	color:var(--c7);
}
.c8{
	color:var(--c8);
}
.c9{
	color:var(--c9);
}

.c9::before{
	content:var(--sym9) var(--space);
}
.c9::after{
	content:var(--space) var(--sym9);
}
.c10{
	color:var(--c10);
}
.c10::before{
	content:var(--sym10) var(--space);
}
.c10::after{
	content:var(--space) var(--sym10);
}
.c11{
	color:var(--c11);
}
.c11::before{
	content:var(--sym11) var(--space);
}
.c11::after{
	content:var(--space) var(--sym11);
}
.c12{
	color:var(--c12);
}
.c12::before{
	content:var(--sym12) var(--space);
}
.c12::after{
	content:var(--space) var(--sym12);
}
.c13{
	color:var(--c13);
}
.c13::before{
	content:var(--sym13) var(--space);
}
.c13::after{
	content:var(--space) var(--sym13);
}
.c14{
	color:var(--c14);
}
.c15{
	color:var(--c15);
}
.c16{
	color:var(--c16);
}
.c17{
	color:var(--c17);
}
.c17::before{
	content:var(--sym17) var(--space);
}
.c17::after{
	content:var(--space) var(--sym17);
}
.c18{
	color:var(--c18);
}
.c18::before{
	content:var(--sym18) var(--space);
}
.c18::after{
	content:var(--space) var(--sym18);
}
.c19{
	color:var(--c19);
}
.c19::before{
	content:var(--sym19) var(--space);
}
.c19::after{
	content:var(--space) var(--sym19);
}
.sub-title{
	text-decoration: underline;
	font-weight:5;
	font-size:1.6em;
}
.sub-title:nth-child(2n+1){
	margin-top:25px;
}
.inputLabel{
	flex-basis:100%;
}
.columnContainer {
	display: flex;
    flex-direction: column;
    flex-flow: nowrap;
	justify-content: space-between;
    padding: 7% 20% 0px 20%;
}
.commentContainer{
	display: flex;
	flex-direction:row;
	flex-flow:wrap;
	padding: 7% 35% 0px 30%;
}
.break {
	flex-basis: 100%;
	height: 0;
  }

  .formButtonContainer{
	  display: flex;
	  flex-basis:100%;
	  margin:2% 5%;
  }



.about {
width: 100%;
    align-content: center;
    text-align: center;
    bottom: 10px;
    margin-top:20%;
}

.face{
	position:absolute;
	left: -10px;
    z-index:-1;

}

.fig1{
	position: absolute;
    left: 0px;
    width: 20%;
    bottom: 200px;
    z-index:-1;
}
.fig7{
	position: absolute;
    right: 0px;
    width: 10%;
    bottom: 200px;
    z-index:-1;

}
.fig3{
    position: absolute;
    left: 300px;
    width: 20%;
    bottom: 0px;
    z-index:-1;

}

h1{
	font-size:3em;
}

.cc{
	font-size: 1.4em;
	text-align:center;
}

a{
	text-align: center;
	text-decoration: none;
}
.galleryMenu ul li a{
    text-decoration:none;
    color: #A7E2E8;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 3em;
    display:block;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
	background-color: #A7E2E8;
	color: white;
	font-family: sans-serif;
	font-size: 15px;
}
.footer {
	 position: fixed;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 text-align: center;
	 font-family: sans-serif;
}
.fullscreen{
    z-index:1000;
    width:100%;
    max-width: 100%;
    height:100% !important;
    position:fixed;
    top:0px;
    left:0px;
    background-color: rgba(190,190,190, .9);
}

.currentGallery{
	font-weight: bolder !important;
    font-size: 1.9em !important;
    color: brown !important;
}

.galleryMenu ul li:hover{
	background-color:pink;
}


.imgContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*border-bottom: solid black 7px;*/
}

.galleryMenu ul{
	list-style-type: none;
	padding:0;
}

.comment{
	resize: none;
    width: 90%;
    height: 150px;
}

#email{
	height:24px;
	line-height:24px;
}

#email::before {
    content: "test";
}

.send{
    height: 25px;
    line-height: 25px;
    padding: 2px 1px 2px 1px;
    background-color: #1c72e8;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
	width: 44px;
	margin-left: 10%;
}

.send.comment{
	margin-top: 130px;
}

.send.email{

}



.imgWrapper img{
	max-width:380px;
	max-height:600px;
	display:inline-block;
	vertical-align: middle;
	position:relative;
}

.imgWrapper{
	text-align:center;
	display:inline-block;
	vertical-align: middle;
	border-bottom: solid black 7px;
	height: 600px;
	width:400px;
	white-space: nowrap;
	box-sizing:border-box;
	flex: 1;

}

.imgWrapper:hover{
	background-color:#de60b9;
}

.imgHelper{
display:inline-block;
vertical-align:middle;
height:100%;
}

.writingContainer{
	width: 60%;
	margin-left:20%;
}

.writingContainer h1{
	text-align: center;
}

.left{
	align-items: center;
	display: flex;
	flex-grow:1;
	flex-basis:20%;
	flex-direction: column;
	min-width:335px;
}

.right{
	flex-basis:20%;
	align-items: center;
	display:flex;
	flex-grow:1;
	flex-direction: column;
}

.form{
	display:flex;
	flex-basis:100%;
	flex-direction:row;
	flex-wrap:wrap ;
}


/*Mid size
*/
@media screen and (max-width: 1050px) {
   .columnContainer{
    padding: 7% 0px 0px 0px;
}

ul {
    padding: 0;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.form{
	display:flex;
	flex-basis:100%;
	flex-direction:row;
	flex-wrap:wrap ;
}

.galleryMenu{
	border:none;
}


ul li{
	width: 12.5%;
    text-align: center;

}

.galleryContainer{
	flex-direction: column;
}

.left{
	flex-basis:100%;
}
.right{
	flex-basis:100%;
}
}
/*small size*/
@media screen and (max-width: 800px) {

}

.border-box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.corner-all {
  border-radius: 2px;
}
.no-padding {
  padding: 0px;
}

div#notebook {
  font-size: 14px;
  line-height: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  /* This spaces the page away from the edge of the notebook area */
  padding-top: 20px;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

.row {
  margin-left: 10px;
  margin-right: 0px;
}
